.btnLarge {
  width: 160px;
  margin-top: 25px;
  color: white;
  text-align: center;
  height: 43px;
  background-color: #978bc6;
  border-radius: 40px;
  width: 200px;
  border: solid 2px #dbd3f8;
  font-family: "Roboto Mono", monospace;
  cursor: pointer;
}
